.signup{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
}
.topsignup{
    margin: 30px 0;
    display: flex;
    justify-content: space-between;
    width: 320px;
    padding: 0 20px;
}
.register .form{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
}
.register h2{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}
.register .sub{
    font-size: 15px;
    color: #868E96;
    margin-bottom: 20px;
}
.topsignup button{
    transition: 0.4s;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 16.2426px;
    width: 79.54px;
    height: 25.58px;
    background: #212529;
    border-radius: 4px;
    color: #fff;
    border: none;
}
.topsignup button:hover{
    transition: 0.4s;
    background-color: #343B41;
}
.register{
    display: flex;
    flex-direction: column;
    width: 295.83px;
    height: 700px;
    background: #212529;
    box-shadow: 0px 3.19812px 31.9812px -7.99531px rgba(0, 0, 0, 0.25);
    border-radius: 3.19812px;
}
.register .error{
    color: red;
    font-size: 10px;
}
.register input, .register select{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 12.9865px;
    background: #343B41;
    border: 0.973988px solid #343B41;
    box-sizing: border-box;
    border-radius: 3.19812px;
    flex: none;
    flex-grow: 0;
    margin: 20px 0px;
    height: 38.37749481201172px;
    width: 263.7882995605469px;
    color: #fff;
}
.register button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 22.3336px;
    width: 259.9px;
    height: 38.5px;
    background: #FF577F;
    border: 1.2182px solid #FF577F;
    border-radius: 4.06066px;
    flex: none;
    flex-grow: 0;
    margin: 10px 0;
    color: #fff;
}

@media (min-width: 768px){
    .register{
        height: 800px;
        width: 400px;
        border-radius: 4px;
        padding: 42px, 22px, 42px, 22px;
    }
    .login .entrar, .register button, .register input, .register select, .login .Entrar{
        height: 48px;
        width: 329.92877197265625px;
        border-radius: 4px;
        padding: 0px, 16px, 0px, 16px;
    }
    
  }